.input {
  background: transparent;
  appearance: none;
  border: 0;
  padding: 1rem 0 1rem 2rem;
  width: 100%;
  color: var(--colors-black);
  font-size: 16px;

  &:focus {
    outline: 0;
  }
}

.inputWrapper {
  background-color: var(--colors-white);
  border: 2px solid var(--colors-white);
  border-radius: 60px 4px 60px 4px;
  min-width: 25ch;
  min-height: auto;
  display: flex;
  align-items: center;
  padding-right: 2.25rem;
  width: 100%;

  &:focus-within {
    outline: 0;
  }
}

.fieldsetWrapper {
  position: relative;
  width: 100%;
}

.hasError {
  border-color: red;
}

.errorMessage {
  position: absolute;
  bottom: -2.15rem;
  font-size: 0.75rem;
}
