.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-layout-content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  color: inherit;
  flex: 1;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
