{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-css-modules"
  ],
  "rules": {
    "value-no-vendor-prefix": null,
    "property-no-vendor-prefix": null,
    "media-query-no-invalid": null
  }
}
