{
  "plugins": ["stylelint-prettier"],
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-recommended",
    "stylelint-config-css-modules"
  ],
  "rules": {
    "prettier/prettier": true,
    "value-no-vendor-prefix": null,
    "property-no-vendor-prefix": null,
    "media-query-no-invalid": null
  }
}
