.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--default-padding);
  text-align: justify;
  padding: var(--default-padding);
  opacity: 0.25;
  position: relative;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  width: 100%;

  &.inView {
    opacity: 1;
    transform: translateY(0);
  }
}

.cite {
  text-align: center;
}

.quoteIcon {
  width: clamp(4rem, 5vw, 6rem);
  height: clamp(4rem, 5vw, 6rem);
  color: var(--colors-grain);
  margin: 0 auto;
}

.quoteText {
  font-size: clamp(1.5rem, 2vw, 3rem);
}
