.workContainer {
  background-color: var(--colors-white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:hover {
    .media {
      img,
      video {
        transform: scale(1.1);
      }
    }

    .overlay {
      opacity: 1;
    }

    .textContainer {
      opacity: 1;
    }
  }
}

.media {
  flex: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  img,
  video {
    position: relative;
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
  }
}

.overlay {
  background: radial-gradient(
    circle at bottom left,
    rgba(0, 0, 0, 0.725) 0%,
    transparent 55%
  );
  border-radius: 20px;
  inset: 0;
  opacity: 1;
  position: absolute;
  transition: opacity 0.3s ease;
  z-index: 1;

  @media screen and (min-width: 768px) {
    opacity: 0;
  }
}

.video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.textContainer {
  bottom: 0;
  left: 0;
  opacity: 1;
  padding: 1.5rem;
  position: absolute;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 2;

  @media screen and (min-width: 768px) {
    opacity: 0;
  }
}

.header {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.title {
  color: var(--colors-white);
  font-family: var(--font-family-secondary);
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
  font-weight: 500;
  line-height: 1.25;
}

.subhead {
  color: var(--colors-white);
  font-family: var(--font-family-primary);
  font-size: 0.875rem;
  line-height: 1.25;
}

.buttonContainer {
  align-items: stretch;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 3;

  @media screen and (min-width: 1000px) {
    width: 300px;
  }

  a {
    border: 1px solid var(--colors-white);
    border-radius: 16px;
    display: block;
    padding: 1rem;
    color: var(--colors-white);
    width: 100%;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: var(--colors-white);
      color: var(--colors-black);
    }
  }
}
