.stat {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  padding: var(--default-padding);
  flex: 1;
  border-radius: 20px;
  position: relative;
  font-size: 1.5rem;
  opacity: 0.25;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;

  h3 {
    font-size: clamp(3rem, 5vw, 6rem);
    font-weight: 700;
    font-family: new-spirit, serif;
  }

  &.inView {
    opacity: 1;
    transform: translateY(0);
  }
}

.increaseDecrease {
  font-size: 2rem;

  svg {
    width: clamp(2.5rem, 2.5vw, 3rem);
    height: clamp(2.5rem, 2.5vw, 3rem);
    transform: translateY(10px);

    &.decrease {
      transform: translateY(10px) rotate(180deg);
    }
  }
}
