.button {
  appearance: none;
  padding: 1rem 2rem;
  border: 2px solid var(--colors-white);
  background-color: transparent;
  color: var(--colors-white);
  border-radius: 60px 4px 60px 4px;
  font-size: 16px;
  width: 100%;

  &:focus {
    outline-color: var(--colors-green);
  }

  &:hover {
    cursor: pointer;
    border-color: var(--colors-white);
    background-color: var(--colors-alpha-white);
    backdrop-filter: blur(10px);
    color: var(--colors-black);
  }
}
