.problemCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  border-radius: 20px;
  min-height: auto;
  padding: 2rem;
  text-align: left;
  transition: transform 0.5s linear;
  opacity: 0;

  &.branding {
    background: var(--colors-grain);
    color: var(--colors-dark-grain);
  }

  &.marketing {
    background: var(--colors-habanero);
    color: var(--colors-dark-habanero);
  }

  &.sales {
    background: var(--colors-green);
    color: var(--colors-light-green);
  }

  h3 {
    font-family: var(--font-family-primary);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  p {
    font-size: clamp(2rem, 2.25vw, 3rem);
    line-height: 1.25;
  }

  @media (min-width: 1000px) {
    min-height: 285px;
  }
}

.solutionList {
  text-align: left;
  padding: var(--default-padding);
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
  font-size: 1.1rem;
  opacity: 0;

  p {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
  }

  ul {
    padding-left: 16px;

    li {
      padding: 0.5rem 0;
    }
  }
}

.cardContainer {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-flow: column nowrap;
}
