:root {
  --colors-black: #181818;
  --colors-white: #ffffff;
  --colors-silver: #D1D5D8;
  --colors-dark-green: #043633;
  --colors-green: #075652;
  --colors-light-green: #CBFFFC;
  --colors-peach: #f4b2a7;
  --colors-habanero: #f46e51;
  --colors-dark-habanero: color-mix(in srgb, var(--colors-habanero) 30%, black);
  --colors-grain: #e5b83e;
  --colors-dark-grain: color-mix(in srgb, var(--colors-grain) 40%, black);
  --colors-alpha-white: rgba(255, 255, 255, 0.75);

  --color-text: var(--colors-white);
  --color-bg: var(--colors-black);

  --default-padding: 1.25rem;
  --font-family-primary: "arboria", sans-serif;
  --font-family-secondary: new-spirit, serif;
  --font-size-base: 14px;
  --font-size-large: 16px;
  --border-radius: 40px;

  --toastify-color-light: var(--colors-white);
  --toastify-color-dark: var(--colors-black);
  --toastify-color-info: #3498db;
  --toastify-color-success: var(--colors-green);
  --toastify-color-warning: var(--colors-grain);
  --toastify-color-error: var(--colors-habanero);

  @media screen and (min-width: 600px) {
    --default-padding: 2rem;
    --font-size-base: var(--font-size-large);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-base);
  transition: background 0.2s ease-in-out;
  min-height: 100vh;
  position: relative;
}

html {
  height: stretch;
  height: -webkit-stretch;
  scroll-behavior: smooth;
}

body {
  background-image: url('/images/dot-bg.png');
  line-height: 1;
  min-height: 100vh;
  min-height: 100svh;
  min-height: stretch;
  min-height: -webkit-stretch;
  overflow-x: hidden;
  padding: 0;

  @media screen and (min-width: 768px) and (min-height: 625px) {
    padding: 0 0 600px 0;
  }
}

.page {
  display: block;
  width: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.page-content {
  background: var(--colors-green);
  background: radial-gradient(farthest-corner at 400px 200px, var(--colors-dark-green), var(--colors-green));
  position: relative;
  z-index: 2;
  overflow: hidden;
}

img, video {
  width: 100%;
  max-width: 100%;
}

a {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  font-weight: normal;

  &:hover, &:focus {
    outline: 0;
    color: var(--colors-grain);
  }
}

[hidden],
.hidden {
  display: none;
}

.text-hidden {
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
  height: 0;
}

strong,
b {
  font-weight: 700;
}

.text-button {
  appearance: none;
  background: none;
  color: currentColor;
  font-size: inherit;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: var(--colors-grain);
  }
}

.container {
  --container-max-width: 1440px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  max-width: var(--container-max-width);
  margin: 0 auto;
  gap: var(--default-padding);
  width: 100%;
  padding: 0 var(--default-padding);
  position: relative;
  z-index: 1;

  &.centered {
    text-align: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  &.left-aligned {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.columned {
    flex-flow: column nowrap;
  }

  &.light {
    color: var(--colors-black);
  }
}

.content-container {
  background: var(--colors-white);
  border-radius: var(--border-radius);
  box-shadow:
    0 -1px 1px hsl(0deg 0% 0% / 0.035),
    0 1px 1px hsl(0deg 0% 0% / 0.035),
    0 2px 2px hsl(0deg 0% 0% / 0.035),
    0 4px 4px hsl(0deg 0% 0% / 0.035),
    0 8px 8px hsl(0deg 0% 0% / 0.035),
    0 16px 16px hsl(0deg 0% 0% / 0.035);
  color: var(--colors-black);
  padding: var(--default-padding);
  width: 100%;
  margin-bottom: 2rem;
}

.logo-icon {
  margin: auto;
  width: 3.35rem;
  height: 3.35rem;
}

h1, h2 {
  position: relative;
  z-index: 1;

  & > b {
    font-weight: 900;
    color: var(--colors-grain);
  }

  & > strong {
    font-weight: normal;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -0.5rem;
      right: -0.5rem;
      height: 1.25rem;
      z-index: -1;
      background-image: url('/images/underline.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

h1 {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-style: normal;
  color: currentColor;

  @media screen and (min-width: 900px) {
    & > strong::after {
      bottom: 0.25rem;
      height: 2rem;
    }
  }
}

h2 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  color: currentColor;

  & > strong::after {
    font-weight: bold;
    bottom: -0.55rem;
    height: 1.25rem;
  }

  @media screen and (min-width: 900px) {
    & > strong::after {
      bottom: -0.4rem;
    }
  }
}

h3 {
  font-size: clamp(1.5rem, 3vw, 1.75rem);
  font-weight: 500;
  line-height: 1.25;
}

p {
  color: currentColor;
  line-height: 1.4;
}

.hero {
  --hero-min-height: clamp(400px, 40vw, 800px);

  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--hero-min-height);
  overflow: hidden;
  position: relative;
  padding-top: 8rem;

  &.reduced {
    --hero-min-height: clamp(300px, 30vw, 600px);
  }
}

.page-header {
  --header-max-width: 140ch;

  margin: auto;
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--default-padding);
  width: 100%;
  max-width: var(--header-max-width);
  color: var(--colors-light-green);

  h1 {
    font-size: clamp(3.15rem, 10vw, 9rem);
    line-height: 1.1;
  }

  &.secondary h1 {
    font-size: clamp(2.25rem, 5vw, 5rem);
    line-height: 1.25;
  }
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1rem;
  color: currentColor;
}

.subtitle {
  font-family: inherit;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  padding-bottom: var(--default-padding);
  line-height: 1.25;
  text-wrap: balance;
}

.section-header {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: 100ch;
  text-wrap: balance;
  margin: 0 auto 2rem;
}

.content {
  font-size: 3rem;
  max-width: 80ch;
  margin: 0 auto;
  line-height: 1.25;
  color: currentColor;
}

.skeleton {
  display: block;
  height: 1.5em;
  position: relative;
  overflow: hidden;
  background-color: lightgray;
  width: 100%;
  animation: shimmer 0.5s infinite alternate
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 20px;
}

.grecaptcha-badge { 
  visibility: hidden !important;
}

.leaf-pattern {
  background-image: url("/svg/provisioner-leaf-pattern.svg");
  background-size: 350px 300px;
  background-repeat: repeat;
  opacity: 0.015;
  filter: grayscale(100%);
  position: absolute;
  inset: 0;
  z-index: 0;
}

@keyframes shimmer {
  from { opacity: 0.45; }
  to { opacity: 1; }
}

.marquee {
  --gap: 2rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 15s linear infinite;

  span {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-style: normal;
    font-size: 12rem;
    line-height: 1.2;
  }
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(calc(-100% - var(--gap))); }
}

@media (prefers-reduced-motion: reduce) {
  .marquee-content {
    animation-play-state: paused !important;
  }
}

@keyframes gradient {
  0% { background-position: 38% 0%; }
  50% { background-position: 62% 100%; }
  100% { background-position: 38% 0%; }
}

[data-theme="light"] {
  --color-text: var(--colors-green);
  --color-bg: var(--colors-white);
}
