*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "arboria", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  transition: background 0.2s ease-in-out;
  min-height: 100vh;
  position: relative;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

html {
  height: stretch;
  height: -webkit-stretch;
}

body {
  line-height: 1;
  min-height: 100vh;
  min-height: 100svh;
  min-height: stretch;
  min-height: -webkit-stretch;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-text);
  font-family: inherit;
  text-decoration: underline;
  font-weight: bold;

  &:hover {
    background-color: var(--color-text);
    text-decoration: none;
    color: var(--color-bg);
    cursor: pointer;
  }

  &:focus {
    background-color: var(--color-text);
    text-decoration: none;
    color: var(--color-bg);
  }
}

[hidden],
.hidden {
  display: none;
}

strong,
b {
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  gap: 2rem;
  padding: 4rem;
  height: 100vh;
  height: 100svh;

  & > * {
    margin: auto;
  }
}

.logo-lockup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
}

.logo {
  width: 6rem;
  padding-bottom: 1rem;
  display: block;

  @media (min-width: 600px) {
    width: 8rem;
  }
}

h1 {
  font-family: new-spirit, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;

  @media (min-width: 600px) {
    font-size: 3rem;
  }
}

.leaf-pattern {
  background: url("/svg/provisioner-leaf-pattern.svg");
  background-size: 350px 300px;
  background-repeat: repeat;
  opacity: 0.01;

  position: absolute;
  inset: 0;
}

.gradient {
  background: radial-gradient(
    var(--colors-green),
    var(--colors-habanero),
    var(--colors-grain)
  );
  background-size: 1000% 1000%;
  animation: gradient 60s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 38% 0%;
  }
  50% {
    background-position: 62% 100%;
  }
  100% {
    background-position: 38% 0%;
  }
}

[data-theme="light"] {
  --color-text: var(--colors-green);
  --color-bg: var(--colors-white);
}

:root {
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-green: #075652;
  --colors-peach: #f4b2a7;
  --colors-habanero: #f46e51;
  --colors-grain: #e5b83e;

  --color-text: var(--colors-white);
  --color-bg: var(--colors-green);
}
