.marqueeContent {
  align-items: center;
  animation: scroll 30s linear infinite;
  display: flex;
  flex-shrink: 0;
  gap: var(--gap);
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;

  > * {
    margin: auto;
  }

  li {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  overflow: hidden;
  user-select: none;

  &:hover .marqueeContent {
    animation-play-state: paused;
  }

  &.reverse .marqueeContent {
    animation-direction: reverse;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (prefers-reduced-motion: reduce) {
  .marqueeContent {
    animation-play-state: paused !important;
  }
}
