.newsletterForm {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;

  & > * {
    flex: 1;
  }

  & > *:first-child {
    flex: 3;
  }

  @media (min-width: 600px) {
    flex-flow: row nowrap;
    gap: 0.1rem;
  }
}

.formWrapper {
  position: relative;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formError {
  position: absolute;
  bottom: -3rem;
  text-align: center;
  width: 100%;
}
