.newsletterForm {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 2rem;
  width: 100%;

  & > * {
    flex: 1;
  }

  & > *:first-child {
    flex: 3;
  }

  @media (min-width: 600px) {
    flex-flow: row nowrap;
    gap: 0.1rem;
  }
}
