.newsletterForm {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
  height: 100%;

  & > button {
    flex: 1;
  }

  & > *:first-child {
    flex: 3;
  }

  @media (min-width: 600px) {
    flex-flow: row nowrap;
    gap: 0.1rem;
  }
}

.formWrapper {
  position: relative;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: stretch;
  text-align: center;
}

.formError {
  position: absolute;
  color: var(--colors-habanero);
  bottom: -1.75rem;
  text-align: center;
  width: 100%;
}
