.caseStudy {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: var(--default-padding);
}

.case-study-media-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--default-padding);
  width: 100%;
  margin-bottom: var(--default-padding);

  .sub-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--default-padding);
  }
}

.case-study-hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--default-padding);
  width: 100%;
  padding: 10rem 0 var(--default-padding);
  text-align: left;

  h1 {
    font-family: arboria, serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
  }

  h2 {
    font-family: new-spirit, serif;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(2rem, 10vw, 5rem);
    line-height: 1.25;
    color: var(--colors-light-green);
  }

  p {
    text-align: left;
  }
}

.case-study-copy-container {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 3rem;
  padding: var(--default-padding) 0 4rem;

  @media screen and (min-width: 700px) {
    flex-flow: row nowrap;
    gap: var(--default-padding);
  }

  > * {
    flex: 1;
  }

  p {
    font-size: 1.25rem;
    font-weight: 200;
  }
}

.case-study-copy-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  span {
    font-size: 2rem;
  }
}

.case-study-results {
  background-color: var(--colors-white);
  padding: var(--default-padding);
}