.caseStudy {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: var(--default-padding);
}

.case-study-media-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--default-padding);
  width: 100%;
  margin-bottom: var(--default-padding);
}

.case-study-media-grid-item {
  grid-column: span 2;
}

.case-study-media-grid-item-half {
  grid-column: span 1;
}

.case-study-hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--default-padding);
  width: 100%;
  padding: 10rem 0 var(--default-padding);
  text-align: left;

  h1 {
    font-family: arboria, serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
  }

  h2 {
    font-family: new-spirit, serif;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 1.25;
    color: var(--colors-light-green);
  }

  p {
    text-align: left;
  }
}

.case-study-copy-container {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: var(--default-padding) 0 4rem;

  @media screen and (min-width: 700px) {
    flex-flow: row nowrap;
    gap: 4rem;
  }

  > div {
    flex: 1;
  }

  p {
    font-size: 1.25rem;
  }
}

.case-study-copy-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  span {
    font-size: 2rem;
  }
}

.case-study-results {
  color: var(--colors-black);
  background-color: var(--colors-white);
  padding: 4rem var(--default-padding);
  font-size: 1.25rem;
}

.case-study-results-container {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 4rem;
  width: 100%;

  @media screen and (min-width: 1100px) {
    flex-flow: row nowrap;
  }
}

.case-study-results-copy {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  flex: 2;

  .emoji {
    font-size: 1.75rem;
  }
}

.case-study-results-cta {
  background-color: rgba(0,0,0,0.005);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: var(--default-padding);
  border: 1px solid var(--colors-silver);
  border-radius: 20px;
  padding: 2rem;
  flex: 1;

  h3 {
    font-size: clamp(1.75rem, 3vw, 2.25rem);
  }
}

.case-study-stats {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--default-padding);
  grid-column: span 2;
  justify-content: flex-start;
  opacity: 0.25;
  position: relative;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  width: 100%;

  @media screen and (min-width: 900px) {
    flex-direction: row;
  }

  &.inView {
    opacity: 1;
    transform: translateY(0);
  }
}