.media {
  flex: auto;
  height: 100%;
  background-color: var(--colors-black);
  order: 0;
  position: relative;

  img,
  video {
    background-color: var(--colors-black);
    object-fit: cover;
    margin-bottom: -2px;
    height: 100%;
    min-width: 105%;
    margin-left: -2.5%;
  }

  @media screen and (min-width: 1000px) {
    order: 1;
    flex: 2.5;
  }
}

.workContainer {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  background-color: var(--colors-white);
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  max-height: 750px;
  color: var(--colors-black);
  width: 100%;

  @media screen and (min-width: 1000px) {
    flex-flow: row nowrap;
    align-items: stretch;
  }
}

.overlay {
  background: radial-gradient(
    circle at bottom left,
    rgba(0, 0, 0, 0.725) 0%,
    transparent 55%
  );
  border-radius: 20px;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.textContainer {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  position: absolute;
  bottom: 1em;
  left: 1em;
  text-wrap: balance;
  width: calc(100% - 2em);
  padding: 1.25em;
  padding-bottom: 1.5rem;

  @media screen and (min-width: 1000px) {
    bottom: 2em;
    left: 2em;
    padding: 2em;
    padding-bottom: 2em;
    max-width: 50%;
  }

  a {
    color: var(--colors-white);
  }

  & > header {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
    flex: 1;

    h3 {
      color: var(--colors-white);
      font-size: clamp(1.75rem, 3vw, 3.25rem);
    }
  }
}

.subhead {
  color: var(--colors-white);
  font-family: var(--font-family-primary);
  font-size: 0.875rem;
  line-height: 1.25;
  position: relative;
  z-index: 1;
}

.tagContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-flow: column nowrap;
  text-align: left;
  padding: 2rem;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.buttonContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: var(--default-padding);
  width: 100%;

  @media screen and (min-width: 1000px) {
    width: 300px;
  }

  a {
    border: 1px solid var(--colors-white);
    border-radius: 16px;
    display: block;
    padding: 1.5rem;
    color: var(--colors-white);
    width: 100%;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: var(--colors-white);
      color: var(--colors-black);
    }
  }
}
