.media {
  flex: auto;
  height: 100%;
  background-color: var(--colors-black);
  order: 0;

  img,
  video {
    background-color: var(--colors-black);
    object-fit: cover;
    margin-bottom: -2px;
    height: 100%;
    min-width: 105%;
    margin-left: -2.5%;
  }

  @media screen and (min-width: 1000px) {
    order: 1;
    flex: 2.5;
  }
}

.workContainer {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  background-color: var(--colors-white);
  box-shadow:
    0 -1px 1px hsl(0deg 0% 0% / 0.035),
    0 1px 1px hsl(0deg 0% 0% / 0.035),
    0 2px 2px hsl(0deg 0% 0% / 0.035),
    0 4px 4px hsl(0deg 0% 0% / 0.035),
    0 8px 8px hsl(0deg 0% 0% / 0.035),
    0 16px 16px hsl(0deg 0% 0% / 0.035);
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  min-height: 600px;
  color: var(--colors-black);
  width: 100%;

  @media screen and (min-width: 1000px) {
    flex-flow: row nowrap;
    align-items: stretch;
  }
}

.textContainer {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  order: 1;

  @media screen and (min-width: 1000px) {
    order: 0;
    padding-right: 2rem;
    flex: 1.25;
  }

  a {
    color: var(--colors-green);
  }

  & > header {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    flex: 1;
    line-height: 1.5;
    padding: 2rem;

    h3 {
      font-size: clamp(1.75rem, 3vw, 2.25rem);
    }

    p {
      font-size: 1.25em;
      line-height: 1.5;
    }
  }
}

.tagContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-flow: column nowrap;
  text-align: left;
  padding: 2rem;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.buttonContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 1rem 1rem;
  width: 100%;
  text-align: center;

  a {
    border: 1px solid var(--colors-green);
    border-radius: 10px;
    display: block;
    padding: 2rem;
    color: var(--colors-green);
    width: 100%;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: var(--colors-green);
      color: var(--colors-white);
    }
  }
}
