.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--default-padding);

  @media screen and (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}